.video-container{
    max-width: 350px;
    color:black;
    margin: 1rem;
    border-radius: 8px;
}

.video-card{
    min-width: 300px;
    padding: 1rem;
    margin: 1rem;
    border: 2px solid rgb(255, 252, 252);
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.video-link-wrapper{
    text-decoration: none;
    color: white;
}

.video-title{
    font-size: 1.1rem;
    font-weight: 600;
    padding-bottom: 10px;
}

.video-details-container{
    display: flex;
    align-items: flex-start;
}

.video-channel{
    font-size: .9rem;
}

.video-date{
    font-size: 0.8rem;
}

.clear-button{
    padding: 10px 25px;
    margin: 1.5rem 0rem;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    background-color: wheat;
}

.clear-button:hover{
    background-color: rgb(243, 202, 126);   
}

.video-thumbnail{
    max-width:370px;
    height: fit-content;
}


.video-channel-thumbnail{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

@media(max-width:800px){

    .video-wrapper{
        padding:0rem
    }

    .video-title{
        font-size: 1rem;
    }

    .video-channel{
        font-size: 0.8rem;
    }

    .video-date{
        font-size: 0.7rem;
    }

    .video-thumbnail{
        width: 100%;
        height: 200px;
    }

    .video-channel-thumbnail{
        width: 30px;
        height: 30px;
        margin-top: 5px;
    }
}