.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.login-card{
    background-color: #13151b;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    color: white;
    width: 300px;
}

.login-title{
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 1px solid gray;
    margin-bottom: 1rem;
    align-self: center;
}

.login-label{
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.login-input{
    border: none;
    border-radius: 5px;
    height: 35px;
    padding:10px 5px;
    background-color: rgb(236, 236, 236);
}

.login-button{
    padding: 10px 25px;
    margin: 1.5rem 0rem;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    background-color: wheat;
}

.login-button:hover{
    background-color: rgb(243, 202, 126);   
}