.video-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10px;
    cursor: pointer;
}

.colored{
    color: #0e9ac9;
    font-size: 2rem;
}

.uncolored{
    color: white;
    font-size: 2rem;
}
